<div class = "container-fluid">

   <div class="row bg-light">
    <div class="col-md-7 text-center">
      <br><br><br><h1 class="mb" style="color:#800080" >Contact Our</h1>
      <h1 class="mb">Customer Support Center</h1>
      </div>
      <div class="col-md-1">       
      <img src="/assets/img1.png">
      </div>
    </div>

    <div class="text-center">
      <br><h4 class="mb">Contact Information</h4>
      <h6 class="mb">Please fill out your contact information below</h6>
    </div>


    <br><label class = "control-label">Name</label><br>  
    <div class="row">
    <div class="col-md-3">
    <input class="form-control" type="text" formControlName="firstname" ng-required="true"/>
    <label style="font-size: 13px">First Name</label>
    </div>
    
    <div class="col-md-3">
    <input class="form-control" type="text" formControlName="lastname" ng-required="true"/>
    <label style="font-size: 13px">Last Name</label>
    </div>
    </div>

    <br><label class = "control-label">Email</label><br>
    <div class="row">
    <div class="col-md-8">
    <input class="form-control" type="text" formControlName="email" ng-required="true" ng-autocomplete details="details" options="options"/> 
    </div>
    </div>

    <br><label class = "control-label">Phone</label>
    <div class="row">
    <div class="col-md-8">
    <input class="form-control" type="text" formControlName="email" ng-required="true" ng-autocomplete details="details" options="options"/> 
    </div>
    </div>

    <br><label class = "control-label">Address</label>
    <div class="row">
    <div class="col-md-8">
    <input class="form-control" type="text" formControlName="email" ng-required="true" ng-autocomplete details="details" options="options"/> 
    </div>
    </div>



 
  

     