<div class = "container-fluid">

  <form [formGroup] = "MarvellousForm">
  <div class="form-group">

   <div class="row bg-light">
    <div class="col-md-7 text-center">
      <br><br><br><h1 class="mb" style="color:#800080" >Contact Our</h1>
      <h1 class="mb">Customer Support Center</h1>
      </div>
      <div class="col-md-1">       
      <img src="/assets/img1.png">
      </div>
    </div>

    <div class="text-center">
      <br><h4 class="mb">Contact Information</h4>
      <h6 class="mb">Please fill out your contact information below</h6>
    </div>


    <br><label class = "control-label">Name</label><br>  
    <div class="row">
    <div class="col-md-3">
    <input [class.is-invalid] = "MarvellousForm.get('firstname')?.invalid && MarvellousForm.get('firstname')?.touched" class="form-control" type="text" formControlName="firstname" ng-required="true"/>
    <div *ngIf = "(FirstName?.invalid && FirstName?.touched) || FirstName?.dirty">
    <small *ngIf = "FirstName?.errors?.['required']" class = "text-danger">Name is required</small>
    <small *ngIf = "FirstName?.errors?.['pattern']" class = "text-danger">Please provide valid name</small>
    </div>
    <label style="font-size: 13px">First Name</label>
    </div>
    
    <div class="col-md-3">
    <input [class.is-invalid] = "MarvellousForm.get('lastname')?.invalid && MarvellousForm.get('lastname')?.touched" class="form-control" type="text" formControlName="lastname" ng-required="true"/>
    <div *ngIf = "(LastName?.invalid && LastName?.touched) || LastName?.dirty">
    <small *ngIf = "LastName?.errors?.['required']" class = "text-danger">Name is required</small>
    </div>
    <label style="font-size: 13px">Last Name</label>
    </div>
    </div>

    <br><label class = "control-label">Email</label><br>
    <div class="col-md-9">
    <input [class.is-invalid] = "MarvellousForm.get('emailid')?.invalid && MarvellousForm.get('emailid')?.touched" class="form-control" type="text" formControlName="emailid"/> 
    <div *ngIf = "(Email?.invalid && Email?.touched) || Email?.dirty">
    <small *ngIf = "Email?.errors?.['required']" class = "text-danger">Email is required</small>
    <small *ngIf = "Email?.errors?.['pattern']" class = "text-danger">Please provide valid email address</small>
    </div>
    </div>

    <br><label class = "control-label">Phone</label>
    <div class="col-md-9">
    <input [class.is-invalid] = "MarvellousForm.get('phone')?.invalid && MarvellousForm.get('phone')?.touched" class="form-control" type="text" formControlName="phone"/> 
    <div *ngIf = "(Phone?.invalid && Phone?.touched) || Phone?.dirty">
    <small *ngIf = "Phone?.errors?.['required']" class = "text-danger">Phone number is required</small>
    <small *ngIf = "(Phone?.errors?.['pattern']) || (Phone?.errors?.['minlength']) || (Phone?.errors?.['maxlength'])" class = "text-danger">Please provide valid contact</small>
    </div>
    </div>

    
    <div class="row">
    <div class="col-md-3">
    <br><label class = "control-label">City</label>
    <input [class.is-invalid] = "MarvellousForm.get('city')?.invalid && MarvellousForm.get('city')?.touched" class="form-control" type="text" formControlName="city"/> 
    <div *ngIf = "(City?.invalid && City?.touched) || City?.dirty">
    <small *ngIf = "City?.errors?.['required']" class = "text-danger">City is required</small>
    <small *ngIf = "City?.errors?.['pattern']" class = "text-danger">Please provide valid city name</small>
    </div>
    </div>

    <div class="col-md-3">
    <br><label class = "control-label">State</label>
    <select [class.is-invalid] = "MarvellousForm.get('state')?.invalid && MarvellousForm.get('state')?.touched" class="form-control" type="text" formControlName="state">
      <option value="1">Maharastra</option>
      <option value="2">Gujrat</option>
      <option value="3">Uttar Pradesh</option>
    </select>
    <div *ngIf = "(State?.invalid && State?.touched) || State?.dirty">
    <small *ngIf = "State?.errors?.['required']" class = "text-danger">State is required</small>
    </div>
    </div>

    <div class="col-md-3">
    <br><label class = "control-label">Zip Code</label>
    <input [class.is-invalid] = "MarvellousForm.get('zip')?.invalid && MarvellousForm.get('zip')?.touched" class="form-control" type="text" formControlName="zip"/> 
    <div *ngIf = "(ZipCode?.invalid && ZipCode?.touched) || ZipCode?.dirty">
    <small *ngIf = "ZipCode?.errors?.['required']" class = "text-danger">Zip code number is required</small>
    <small *ngIf = "(ZipCode?.errors?.['pattern']) || (ZipCode?.errors?.['minlength']) || (ZipCode?.errors?.['maxlength'])" class = "text-danger">Please provide valid zip code</small>
    </div>
    </div>
    </div>
    </div>
    
    <br><label class = "control-label">Comments</label>
    <textarea [class.is-invalid] = "MarvellousForm.get('comment')?.invalid && MarvellousForm.get('comment')?.touched" type="text" class="form-control" formControlName="comment"></textarea>
    <div *ngIf = "(Comment?.invalid && Comment?.touched) || Comment?.dirty">
    <small *ngIf = "Comment?.errors?.['required']" class = "text-danger">Comment is required</small>
    <small *ngIf = "Comment?.errors?.['minlength']" class = "text-danger">Please provide valid length for comments</small>
    </div>

    <br><br><div class="col text-center">
      <button type="button" class="btn btn-primary center" [disabled] = "!MarvellousForm.valid">Submit Form</button>
    </div>
</form>
</div>
    
      

 
  

     