<div class = "container-fluid">

<label>*Your Name</label><br><br>
<form [formGroup] = "PersonalInfoForm">
<div class="row">
    <div class="col-md-6">
    <input class="form-control" type="text" formControlName="firstname" ng-required="true"/>
    <label style="font-size: 13px">First Name</label>
    </div>
    
    <div class="col-md-6">
    <input class="form-control" type="text" formControlName="lastname" ng-required="true"/>
    <label style="font-size: 13px">Last Name</label>
    </div>
</div><br>

<label>*Email</label><br><br>
<div class="row-md-6">
    <input class="form-control" type="text" formControlName="email" ng-required="true" ng-autocomplete details="details" options="options"/>
</div><br>
</form>

<div>

